@font-face {
    font-family: 'Livvic';
    src: url('./font/Livvic-Bold.eot');
    src: url('./font/Livvic-Bold.eot?#iefix') format('embedded-opentype'),
        url('./font/Livvic-Bold.woff') format('woff'),
        url('./font/Livvic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('./font/Livvic-Medium.eot');
    src: url('./font/Livvic-Medium.eot?#iefix') format('embedded-opentype'),
        url('./font/Livvic-Medium.woff') format('woff'),
        url('./font/Livvic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('./font/Livvic-Regular.eot');
    src: url('./font/Livvic-Regular.eot?#iefix') format('embedded-opentype'),
        url('./font/Livvic-Regular.woff') format('woff'),
        url('./font/Livvic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('./font/Livvic-SemiBold.eot');
    src: url('./font/Livvic-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./font/Livvic-SemiBold.woff') format('woff'),
        url('./font/Livvic-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Livvic", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner {
    background-color: #014E56;
    min-height: 700px;
    background-image: url("./images/Group\ 8.svg"), url("./images/Group\ 7.svg");
    background-size: 100px 200px, 358px 100px;
    background-position: left center, 80% bottom;
    background-repeat: no-repeat;
}

.menu-inner {
    padding-top: 77px;

    .menu-inner__right {
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 24px;
        display: inline-block;
        padding: 9px 36px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        text-decoration: none;
        transition: all ease 0.5s;

        &:hover {
            background-color: #fff;
            color: #014E56;
        }
    }
}

.logo {
    width: 160px;
    height: 40px;
    margin-right: 40px;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.item__links {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 40px;
    display: inline-block;
    transition: all 0.5s ease;

    &:hover {
        color: #F67E7E;
    }
}

.hero {
    margin-top: 133px;

    &__left {
        width: 50%;
    }

    &__right {
        width: 40%;
    }

    &-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.hero-text {
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;

    &__span {
        color: #F67E7E;
    }
}

.hero-info {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;

    &::before {
        content: "";
        background: #79C8C7;
        width: 50px;
        height: 4px;
        position: absolute;
        left: 0;
        top: -100%;
    }
}

.section-inner {
    background-color: #012F34;
    min-height: 684px;
    background-image: url("./images/Group\ 8-2.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100px 244px;

    &__left {
        width: 45%;
        margin-top: 198px;
    }

    &__right {
        margin-top: 198px;
        width: 49%;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }
}

.left-text {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
    position: relative;

    &::before {
        content: "";
        background: #F67E7E;
        width: 50px;
        height: 4px;
        position: absolute;
        left: 0;
        top: -54px;
    }
}

.icon {
    margin-top: 32px;

    &-image {
        margin-right: 23px;
    }
}

.icon-text {
    &__first {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color: #F67E7E;
        margin-bottom: 16px;
    }

    &__last {
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
}

.section-two-inner {
    background-color: #004047;
    min-height: 745px;
    background-image: url("./images/Group\ 8\ Copy.svg"), url("./images/Group\ 8-1.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: 147px 100px, 200px 100px;

    &__text {
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 140px;

        &-span {
            color: #79C8C7;
        }
    }
    &__row{
        display: flex;
        justify-content: space-between;
    }
}

.block {
    width: 32%;
    text-align: center;
    background-image: url("./images/“.svg");
    background-position: center 18%;
    background-size: 67px 56px;
    background-repeat: no-repeat;

    &__text {
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 92px;
        margin-bottom: 24px;
    }

    &__name {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #79C8C7;
    }

    &__italic {
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        display: block;
        margin-top: 2px;
        margin-bottom: 32px;
    }
}

.section-three-inner {
    background-color: #F67E7E;
    min-height: 200px;
    background-image: url("./images/Group\ 8-3.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 200px 144px;
    padding-top: 76px;
    box-sizing: border-box;

    &__row {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    &__text {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        color: #012F34;
    }

    &__link {
        border: 2px solid #012F34;
        box-sizing: border-box;
        border-radius: 24px;
        display: inline-block;
        padding: 9px 36px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #012F34;
        text-decoration: none;
        transition: all ease 0.5s;

        &:hover {
            background-color: #012F34;
            color: #fff;
        }
    }
}

.footer-inner {
    height: 196px;
    background: #002529;
    padding-top: 48px;
    box-sizing: border-box;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__left {
        width: 41%;
        display: flex;
        justify-content: space-between;
    }

    &__right {
        text-align: right;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 97.78px;
    }
}

.footer-logo {
    margin-right: 125px;

    .footer-logo__bottom {
        margin-right: 25px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        text-decoration: none;
        transition: all 0.5s ease;
        margin-top: 25px;
        display: inline-block;

        &:hover {
            color: #F67E7E;
        }
    }
}

.footer-inner__info {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.row-right {
    display: flex;
    justify-content: flex-end;

    .social-icon {
        margin-left: 16px;

        .icons {
            fill: #FFFFFF;
            transition: all 0.5s ease;

            &:hover {
                fill: #F67E7E;
            }
        }
    }
}

.footer-inner__right-text {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

@media only screen and (max-width:768px) {
    body {
        width: 100%;
    }

    .header-inner {
        background-color: #014E56;
        min-height: 700px;
        background-image: url("./images/Group\ 7.svg");
        background-size: 358px 100px;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    .hero-row {
        flex-direction: column;
    }

    .hero {
        &__left {
            width: 55%;
            margin: 0 auto;

        }

        &__right {
            width: 66%;
            margin: 24px auto;
        }
    }

    .hero-text {
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 56px;
        text-align: center;
    }

    .hero-info {
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
        text-align: center;

        &::before {
            display: none;
        }
    }

    .section-inner {
        background-color: #012F34;
        min-height: 710px;
        background-image: url("./images/Group\ 8-2.svg");
        background-position: right top;

        &__left {
            width: 70%;
            margin-top: 136px;
            margin-left: 98px;
        }

        &__right {
            margin-top: 64px;
            margin-left: 98px;
            width: 79%;
        }

        &__row {
            flex-direction: column;
        }
    }

    .left-text {
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
    }

    .section-two-inner {
        min-height: 1199px;
        &__text {
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 34px;
            text-align: center;
            color: #FFFFFF;
            padding-top: 120px;
    
            &-span {
                color: #79C8C7;
            }
            
        }
        &__row{
            flex-direction: column;
        }
    }

    .block {
        width: 573px;
        margin: 0 auto ;
        padding: 25px 0;
        box-sizing: border-box;
        background-position: center 25%;
    }

    .section-three-inner {
        background-size: 160px 115px;
        &__text {
            font-size: 32px;
            line-height: 32px;
        }
    
        &__link {     
            padding: 9px 31px;
            
        }
    }

    .footer-inner {
       height: 271px;
       padding: 56px 40px;
    
        .row {
            flex-direction: column;
        }
    
        &__left {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    
        &__right {
            flex-direction: row;
            width: 100%;
            margin-top: 35px;
        }
    }
    

}

@media only screen and (max-width:576px) {
    body {
        width: 100%;
    }

    .header-inner {
        min-height: 567px;
    }

    .hero-row {
        flex-direction: column;
    }

    .hero {
        margin-top: 80px;
        &__left {
            width: 45%;
            text-align: center;
            margin: 0 auto;

        }

        &__right {
            width: 70%;
            text-align: center;
            margin: 18px auto;
        }
    }

    .hero-text {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }

    .hero-info {
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
        text-align: center;

        &::before {
            display: none;
        }
    }

    .section-inner {
        background-color: #012F34;
        min-height: 1073px;
        background-image: url("./images/Group\ 8-2.svg");
        background-position: right top;

        &__left {
            width: 55%;
            margin-top: 100px;
            margin-left: 24px;
        }

        &__right {
            margin: 64px auto 0 auto;
            width: 60%;
            text-align: center;
            .row{
                flex-direction: column;
                justify-content: center;
            }
        }

        &__row {
            flex-direction: column;
        }
    }

    .left-text {
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
    }

    .section-two-inner {
        min-height: 1410px;
        &__text {
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            color: #FFFFFF;
            padding-top: 140px;
            margin: 0 auto;
    
            &-span {
                color: #79C8C7;
            }
        }
        &__row{
            flex-direction: column;
        }
    }

    .block {
        width: 80%;
        margin: 0 auto ;
        padding: 25px 0;
        box-sizing: border-box;
        background-position: center 25%;
    }

    .section-three-inner {
        background-size: 160px 115px;
        height: 302px;
        box-sizing: border-box;
        &__text {
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 24px;
            text-align: center;
        }
    
        &__link {     
            padding: 9px 31px;
            
        }
        &__row{
            flex-direction: column;

        }
    }

    .footer-inner__right-text{
text-align: center;
    }

    .footer-logo{
    margin: 0;
    }

    .row-right{
    justify-content: center;
    }
    
    .footer-inner {
       height: 432px;
       padding: 66px 0;
       text-align: center;
    
        .row {
            flex-direction: column;
        }
    
        &__left {
            flex-direction: column;
        }
    
        &__right {
            flex-direction: column;
        }
    }
}